* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
.column {
    float: left;
    width: 25%;
    padding: 8px;
    height:max-content;
}

button { 
border: 5px solid black;
width: 100%;
height: 700px;
}
h1 {
    padding: 50px;
    text-align: center;
    font-style: italic;
    color: rgba(218, 165, 32, 0.007);
    
}
button:hover {
    color: darkblue;
    background-color: antiquewhite;
}
body {
    background-color:rgba(255, 127, 227, 0.509)
}
p {
    font-size: large;
}
h2 { 
    font-size: x-large;
}


