body{
    background-color: #FFDFD3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
h1{
    text-align: center;
}
p{
    font-size:large;
    font-style: italic;
    text-align: justify;
    
}
a{
    color: darkslategrey;
}

.column
{
    display: block;
    float: left;
    flex-grow: 1;
    width: 50%;
    padding: 50px
    
}
.row{
    width: 100%;
    display: flex;
    flex-direction: row;
}
img{
    max-width: 500px;
    max-height: 300px;
    object-fit: contain;
}
.images{
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: baseline;
}
hr{
    border-color: black;
    background-color: black;
}
.flexgrow{
    flex-grow: 1;
}
